{% extends "contactos_base.html" %}

{% block content %}

  <div class="ui content">
    <a href="{% url 'contacto_list' %}">
      <button class="circular ui left  icon button">
        <i class="icon chevron left" ></i>
      </button>
    </a>
  </div>
  
  <div class="ui card">
    <div class="content">
      <div class="header">
        <h3>
          <i class="user circle icon masive"></i>
          <b>{{contacto.subfijo}}</b>
          {{contacto.nombre}}
        </h3>
        <a href="{% url 'contacto_delete' pk=contacto.id %}">
          <button class="circular ui right floated icon button">
            <i class="icon trash red" ></i>
          </button>
        </a>
        <a href="{% url 'contacto_update' pk=contacto.id %}">
          <button class="circular ui right floated icon button">
            <i class="icon edit blue" ></i>
          </button>
        </a>
      </div>

      <div class="ui horizontal divider">.</div>
      <br>
      <div   class="extra content">
        <p><i class="user  icon"></i>{{contacto.subfijo}} {{contacto.nombre}} {{contacto.apellido}}</p>
        <p><i class="phone  icon"></i>{{contacto.telefono}}</p>
        <p><i class="address card  icon"></i>{{contacto.direccion}}</p>
        
      </div>
      <div class="extra content"> 
      </div>
    </div>
  </div>
{% endblock content %}  